.uber-button {
    background-color: black;
    color: beige;
    font-weight: bold;
    font-size: medium;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
    cursor: pointer;
    transition: opacity .15s, height 1s;
}

.uber-button:hover {
    opacity: .75;
}

.uber-button:active {
    opacity: .6;
}

.amazon-cart-button {
    border: none;
    background-color: rgb(238, 238, 2);
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: medium;
    cursor: pointer;
    vertical-align: top;
    transition: background-color .15s, opacity .15s;
}

.amazon-cart-button:hover {
    background-color: rgb(255, 208, 0);
    
}

.amazon-cart-button:active {
    opacity: .75;
}

.github-button {
    border: none;
    border-radius: 7px;
    background-color: rgb(41, 190, 43);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
    font-size: medium;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .15s, box-shadow .15s;
}

.github-button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0, .15);
}

.github-button:active {
    background-color: rgb(35, 158, 37);
}

.boot-strap-get-started {
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
    background-color: rgb(153, 70, 189);
    color: white;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .15s;
}

.boot-strap-get-started:hover {
    background-color: rgb(108, 49, 134);
    
}


.bootstrap-download {
    border: 2px solid;
    color: gray;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    transition: background-color .15s, color .15s, border .15s;
}

.bootstrap-download:hover {
    background-color: rgb(108, 49, 134);
    color: white;
    border: none;
}

.bootstrap-download:active {
    box-shadow: 5px 5px 10px rgba(0,0,0, .15);
}

.linkedin-apply {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    vertical-align: top;
    border-radius: 25px;
    background-color: rgb(9, 115, 180);
    font-weight: bold;
    font-size: medium;
    color: white;
    cursor: pointer;
    transition: background-color .15s;
}

.linkedin-apply:hover {
    background-color: rgb(6, 83, 132);
    
}
.linkedin-save {
    border: 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
    font-size: medium;
    color: rgb(9, 105, 165);
    cursor: pointer;
    transition: background-color .15s, border .15s;
}

.linkedin-save:hover {
    background-color: rgba(103, 195, 253, 0.3);
    border: solid;
}

a {
    color: blue;
}

a:hover {
    color: rgb(174, 114, 2);
}

.price-tag{
    color: green;
    font-weight: bold;
}

.amazon-cart-button-1 {
    border: none;
    background-color: rgb(238, 238, 2);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
    cursor: pointer;
    transition: background-color .15s, opacity .15s;
}
.amazon-cart-button-1:hover {
    background-color: rgb(255, 208, 0);

}
.amazon-cart-button-1:active {
    opacity: .75;
}

.buy-now {
    border: none;
    background-color: rgb(238, 159, 2);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    vertical-align: top;
    cursor: pointer;
    transition: background-color .15s, opacity .15s;
}
.buy-now:hover {
    background-color: rgb(238, 116, 2);

}
.buy-now:active {
    opacity: .75;
}

button {
    margin: 10px;
}

.stretch {
    background-color: green;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: padding 1s;
}
.stretch:hover {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 24px;
    padding-bottom: 24px;

}

.shadow-click {
    background-color: green;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.shadow-click:active {
    
    box-shadow: 10px 10px 15px rgba(0,0,0, .3);
}

/* remind me:
    Take your time brother. You don't hve to rush this and work late into the night.
    You have days to work on this.
    Enjoy the process of learning and not just looking at money or a result.
     */


img {
    vertical-align: middle;
}
.img-1 {
    width: 200px;
    border-radius: 15px;
}

.img-2 {
    width: 125px;
    height: 125px;
    object-fit:cover;
    object-position: left;
}

.img-3 {
    width: 125px;
    height: 125px;
    object-fit: cover;
    object-position: left;
    border-radius: 1000px;
}

.d7 {
   border-radius: 5px;
   border-style: solid; 
   border-width: 1px;
   height: 25px;
   padding-inline: 10px;
}
.e7 {
    border-style: none;
    width: 450px;
    height: 25px;
    padding-inline: 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0, .25);
}

.f7-input {
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    width:57vmax;
}

.f7{
    color: rgb(96,96,96);
    font-family: Arial, Helvetica, sans-serif;
}

.f7-button {
    color: white;
    background-color: rgb(55, 55, 193);
    border-style: none;
    font-size: large;
    text-align: center;
    padding-left: 23%;
    padding-right: 23%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;
    margin: 0;
}

.g7 {
 margin-top: 20px;
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(96,96,96);
 vertical-align: middle;
}

.g7-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: left;
    border-radius: 1000px;
}

.g7-button {
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 142, 236);
    color: white;
    border-radius: 20px;
}

.a8 {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.a8-1 {
    display: block;
}

.b8 {
    vertical-align: middle;
    width: 200px;
    display: inline-block;
}

.b8-1 {
    margin-right: 2px;
}

.b8-2 {
    margin-left: 2px;
}

.c8-img {
    width: 200px;
    display: block;
    margin-left: 125px;
}

.d8-1 {
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    width: 100px;
}

.d8-2 {
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    width: 100px;
}

.d8-3 {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    width: 225px;
    display: block;
}

.d8-4 {
    color: white;
    background-color: rgb(55, 55, 193);
    border-style: none;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-left: 0px;
}

.e8-1 {
    display: block;
    margin-top: 10px;
    border-style: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    background-color: rgb(239, 238, 238);
}

.e8-3 {
    background-color: black;
    color: beige;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: top;
    margin-left: 0px;
    margin-right: 2px;
    cursor: pointer;
}
.e8-4 {
    background-color: beige;
    color: Black;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: top;
    margin-left: 0px;
    margin-right: 2px;
    cursor: pointer;   
}